@import 'layouts/index'
@import 'modules/index'
@import 'modal/index'
@import './extra'

*
  font-family: 'Mulish',sans-serif

span
  display: inline-flex
  align-items: center

.green
  color: var(--color-primary)

a
  text-decoration: none

.icons
  background: url(https://lacdau.com/static/assets/default/images/sprite.png) no-repeat
  background-size: 290px

.container
  padding: 0 6px
  max-width: 1212px
